In [1]:
width = 17
height = 12.0
delimiter = '.'

In [2]:
# Q1(a) width
print(width)
type(width)

17

int

In [3]:
# Q1(b) width / 2
print(width / 2)
type(width / 2)

8.5

float

In [4]:
# Q1(c) width // 2
print(width // 2)
type(width // 2)

8

int

In [5]:
# Q1(d) height // 7
print(height // 7)
type(height // 7)

1.0

float

In [12]:
# Q1(e) 1 + 2 * 5
print(1 + 2 * 5)
type(1 + 2 * 5)

11

int

In [13]:
# Q1(f) delimiter * 5
print(delimiter * 5)
type(delimiter * 5)

.....

str

In [14]:
# Q2(a) Use the interactive shell to work out how many seconds in total are in 3 hours, 45 minutes and 2 seconds.
print(3 * 60 * 60 + 45 * 60 + 2)

13502

In [15]:
# Q2(a) using brackets
print((3 * 60 * 60) + (45 * 60) + 2)

13502

In [ ]:
# Q2(b) Replace each occurrence of ??? in the following so that it converts the number of seconds (6149) to hours, minutes and seconds, and outputs these values.
# >>> totalSeconds = 6149
# >>> seconds = totalSeconds ??? 60
# >>> totalMinutes = totalSeconds ??? 60
# >>> minutes = ???
# >>> hours = ???
# >>> print(hours, minutes, seconds)
# 1 42 29
totalSeconds = 6149
seconds = totalSeconds % 60
totalMinutes = totalSeconds // 60
minutes = totalMinutes % 60
hours = totalMinutes // 60
print(hours, minutes, seconds)

In [ ]:
# Q3 What happens if you pass the sqrt function that we implemented in the lectures a negative number as a parameter?
# Refer to code from lecture. ANSWER: You should get the negatives square root as your answer.

In [ ]:
# Q4
import math

In [ ]:
help(math)

In [ ]:
# Q4 (a) The sine of 15
math.sin(15)

In [26]:
# Q4 (b) 63 to the power of 2.5
math.pow(63,2.5)

31502.96086084608

In [27]:
# Q4 (c) The square root of 2498
math.sqrt(2498)

49.9799959983992

In [28]:
# Q4 (d) Ï€
math.pi

3.141592653589793

In [42]:
# Q5 Part 1
4.0 * math.pi * math.pow(5, 3) / 3

523.5987755982989

In [45]:
# Q5 Part 2
60 * 24.95 * .6 + 3 + 59*.75

945.4499999999999

In [44]:
# Q6 Write a function that takes a number of seconds as an argument and displays the number of hours, minutes and seconds.
def time(totalSeconds):
   seconds = totalSeconds % 60
   totalMinutes = totalSeconds // 60
   minutes = totalMinutes % 60
   hours = totalMinutes // 60
   print(hours, minutes, seconds)

time(6149)

1 42 29

In [46]:
# Q7 Write a function that takes a number of hours, minutes and seconds as arguments and returns the total number of seconds. Add a suitable doctest to this function, and check that it passes.
def breakTime(totalSeconds):

    """
    >>> breakTime(6149)
    (1, 42, 29)
    >>> breakTime(6149)
    (3, 16, 4)
    """

    seconds = totalSeconds % 60
    totalMinutes = totalSeconds // 60
    minutes = totalMinutes % 60
    hours = totalMinutes // 60
    return hours, minutes, seconds

# To run this doctest, save in a file called breakTime.py and enter the following command on the command line in the directory where breakTime.py is stored:
# python3 -m doctest -v breakTime.py

In [57]:
# Q8
def volume(r):
   return 4.0/3 * math.pi * r * r * r
# Several ways of implementing this - simplest is:
def wholesaleCost(coverprice, number):
   return number * coverprice * .6 + 3 + (number - 1) * .75
# but safer to check the number is at least one
def wholesaleCost(coverprice, number):
   if number <= 0:
      return 0
   return number * coverprice * .6 + 3 + (number - 1) * .75
# and even better is to define default values for other parameters:
# (see Think Python! 13.5)
def wholesaleCost(coverprice, number, discount=0.6, baseshipping=3, extra=0.75):
   return number * coverprice * discount + baseshipping + (number - 1) * extra

print(volume(5))
print(wholesaleCost(24.95,60))

523.5987755982989
945.4499999999999

In [59]:
# Q9 Let a by a list. The indexing operator a[n] gives access to the nth element of the list. The slicing operator a[i:j] gives access to a subsequence of the list, and can be given an optional step allowing the subsequence to skip elements. Define a list containing the integers 0, 1, 2, ..., 9 by a = list(range(10)).
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
# Q9 (a) Index into the third element in the list (remember lists start from ZERO).
a[2]

2

In [61]:
# Q9 (b) Index into the 11th element, which does not exist, so an error is encouutered.
a[10]

IndexError: list index out of range

In [62]:
# Q9 (c) Lists are circular, so you can move through them forwards and backwards. The minus sign is interpreted as backwards.
a[-3]

7

In [63]:
# Q9 (d) [start:stop] - note stop position element is NOT included.
a[0:3]

[0, 1, 2]

In [64]:
# Q9 (e) If the start index is omitted, it defaults to the first index in the list, i.e. 0.
a[:3]

[0, 1, 2]

In [65]:
# Q9 (f) If the stop index is omitted, it defaults to the last index in the list.
a[4:]

[4, 5, 6, 7, 8, 9]

In [67]:
# Q9 (g) defaults to 0 index to start and last index of list for stop.
a[:]
# This is an important command. It gives you a true copy of a list. More on this later :)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
# Q9 (h) third parameter (i.e. value 2 in this case) is for step. starts at index 0 and stops at last index of list, stepping through every second element.
a[::2]

[0, 2, 4, 6, 8]

In [69]:
# Q9 (i) starts at index 5 and goes to end of list, but because the step value is a negative it moves backwards to the start, one element at a time. 
a[5::-1]

[5, 4, 3, 2, 1, 0]

In [70]:
#Q9 (j) Here we have a chaining effect. The result from the first square brackets is passed into the second quare brackets, etc...
# a[::2] gave us [0, 2, 4, 6, 8]
# a[3] from the previous result, i.e. the 4th elment in the list -> [0, 2, 4, 6, 8] gives us 6
a[::2][3]

6

In [71]:
#Q10 (a) a[*] to give 4
a[4]

4

In [72]:
#Q10 (b) a[-*] to give 4
a[-6]

4

In [73]:
#Q10 (c) a[*:*] to give [0, 1]
a[0:2]

[0, 1]

In [74]:
#Q10 (d) a[:*] to give [0, 1, 2]
a[:3]

[0, 1, 2]

In [76]:
#Q10 (e) a[-*:] to give [8, 9]
a[-2:]

[8, 9]

In [77]:
#Q10 (f) a[::*] to give [0, 3, 6, 9]
a[::3]

[0, 3, 6, 9]

In [78]:
#Q10 (g) a[::**] to give [9, 6, 3, 0]
a[::-3]

[9, 6, 3, 0]

In [79]:
#Q11 (a) Provide code containing one or more slice which gives:
#All even numbers in a in ascending order.
a[::2]

[0, 2, 4, 6, 8]

In [80]:
#Q11 (b) Provide code containing one or more slice which gives:
#The reverse of a.
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [81]:
#Q11 (c) Provide code containing one or more slice which gives:
#All odd numbers in a in descending order.
a[::-2]

[9, 7, 5, 3, 1]

In [82]:
#Q11 (d) Provide code containing one or more slice which gives:
#The two highest odd numbers in a in descending order.
a[::-2][0:2]

[9, 7]

In [87]:
#Q12 (a) a[0] = 10
a = list(range(10))
print(a)
a[0]=10
print(a)
#Changes the value of the first item in the list (index 0) to 10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
#Q12 (b) a[2:4] = ["a", "b"]
a = list(range(10))
print(a)
a[2:4] = ["a", "b"]
print(a)
#Changes the values in indexes 2 and 3 to "a" and "b" respectively. NOTE lists can contain a mix of different types.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 'a', 'b', 4, 5, 6, 7, 8, 9]

In [88]:
#Q12 (c) a[2:4] = ["a", "b", "c", "d"]
a = list(range(10))
print(a)
a[2:4] = ["a", "b", "c", "d"]
print(a)
#note we have replaced 2 elements by 4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 'a', 'b', 'c', 'd', 4, 5, 6, 7, 8, 9]

In [93]:
#Q12 (d) a[2:4:2] = ["a", "b"]
a = list(range(10))
print(a)
a[2:4:2] = ["a", "b"]
print(a)
#ValueError: attempt to assign sequence of size 2 to extended slice of size 1
#a[2:4:2] = [2], so we cannot fit ["a", "b"] into it.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

ValueError: attempt to assign sequence of size 2 to extended slice of size 1

In [95]:
#Q12 (e) a[2:6:2] = ["a", "b"]
a = list(range(10))
print(a)
a[2:6:2] = ["a", "b"]
print(a)
#a[2:6:2] = [2,4], so we CAN fit ["a", "b"] into it this time.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 'a', 3, 'b', 5, 6, 7, 8, 9]

In [97]:
#Q12 (f) del a[0:2]
a = list(range(10))
print(a)
del a[0:2]
print(a)
#Deletes index 0 and 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
#Q12 (g) del a[::2]
a = list(range(10))
print(a)
del a[::2]
print(a)
#Deletes every second element

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [99]:
#Q12 (h) a[1::2] = a[::-2]
a = list(range(10))
print(a)
a[1::2] = a[::-2]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [101]:
#Q13
a = list(range(9,-1,-1))
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [102]:
#Q13 (a) The number of elements in a.
len(a)

10

In [103]:
#Q13 (b) The sum of all elements in a.
sum(a)

45

In [104]:
#Q13 (c) The sum of the first 5 elements in a.
sum(a[:5])

35

In [105]:
#Q13 (d) The smallest value in a.
min(a)

0

In [106]:
#Q13 (e) The maximum of the elements in a whose index is a multiple of 3.
max(a[::3])

9

In [107]:
#Q13 (f) A copy of a in ascending order.
sorted(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
#Q14 statistics module
import statistics
a = [9, 3, 5, 4, 10, 4, 3, 2, 4]
print(statistics.mean(a))
print(statistics.median(a))
print(statistics.mode(a))

4.888888888888889
4
4

In [111]:
#Q15 (a) What does the following code do?
# >>> for char in "1bc4":
# ...     print(char)
for char in "1bc4":
    print(char)
# Prints each character of the string on a line by itself.

1
b
c
4

In [112]:
#Q15 (b) What type does the variable char have in the above loop? (Hint: use the type() function.)
for char in "1bc4":
    print(type(char))
# str

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [114]:
#Q15 (c) Use the dir() and help() functions (with suitable arguments) to find a function that can be used to determine whether a string contains only alphabetic characters (i.e. only letters â€“ no numbers or whitespace).
s = "lbc4"
s1 = "lmn"
print(s.isalpha())
print(s1.isalpha())
# isalpha()

False
True

In [115]:
#Q15 (d) Modify the loop above so that it prints out whether each character is a letter. I.e. it should produce the output:
#   False
#   True
#   True
#   False
for char in "1bc4":
    print(char.isalpha())

False
True
True
False

In [117]:
#Q15 (e) Modify the loop above so that it considers each character in turn. If it is a letter, it should print it converted to upper case. If it is not a letter, it should print not a letter. I.e. it should produce the output:
#  not a letter
#  B
#  C
#  not a letter
for char in "1bc4":
    if char.isalpha():
        print(char.upper())
    else:
        print("not a letter")

not a letter
B
C
not a letter